In [12]:
head(beaver1, 5)
head(beaver2, 5)
beaver1$temp[1:3]
data <- cbind(beaver1$temp[1:100], (5/8)*beaver1$temp[1:100] + 32, beaver2$temp[1:100], (5/8)*beaver2$temp[1:100] + 32)
cov(data)

  day time temp  activ
1 346 840  36.33 0
2 346 850  36.34 0
3 346 900  36.35 0
4 346 910  36.42 0
5 346 920  36.55 0

  day time temp  activ
1 307  930 36.58 0
2 307  940 36.73 0
3 307  950 36.93 0
4 307 1000 37.15 0
5 307 1010 37.23 0

[1] 36.33 36.34 36.35

     [,1]       [,2]       [,3]       [,4]
[1,] 0.04116698 0.02572936 0.03449019 0.02155637
[2,] 0.02572936 0.01608085 0.02155637 0.01347273
[3,] 0.03449019 0.02155637 0.19962031 0.12476270
[4,] 0.02155637 0.01347273 0.12476270 0.07797668