In [1]:
library(tidyverse)

── Attaching packages ─────────────────────────────────────── tidyverse 1.2.1 ──
✔ ggplot2 3.1.1     ✔ purrr   0.2.5
✔ tibble  2.1.1     ✔ dplyr   0.7.6
✔ tidyr   0.8.1     ✔ stringr 1.3.1
✔ readr   1.1.1     ✔ forcats 0.3.0
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

In [30]:
library(purrr)
head(mtcars, 5)
mtcars %>%
  split(.$cyl) %>% # from base R
  map(~ lm(mpg ~ wt, data = .)) %>%
  map(summary) %>%
  map_dbl("r.squared")

                  mpg  cyl disp hp  drat wt    qsec  vs am gear carb
Mazda RX4         21.0 6   160  110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag     21.0 6   160  110 3.90 2.875 17.02 0  1  4    4
Datsun 710        22.8 4   108   93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive    21.4 6   258  110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout 18.7 8   360  175 3.15 3.440 17.02 0  0  3    2

        4         6         8
0.5086326 0.4645102 0.4229655

In [32]:
c1 <- rep(1:2, 4)
c2 <- rep(1, 8)
addition <- function(x, y){
    ret <- x+y
    print(x,y)
    ret
}
c1 %>%
    .^2 %>%
    sqrt(.) %>%
    +2 %>%
    map(addition)

ERROR: Error in .f(.x[[i]], ...): argument "y" is missing, with no default

In [13]:
sq <- c(1,9,16)
purrr::map(sq, sqrt)

[[1]]
[1] 1

[[2]]
[1] 3

[[3]]
[1] 4

In [14]:
x <- c("why", "video", "cross", "extra", "deal", "authority")
str_length(x) 
#> [1] 3 5 5 5 4 9
str_c(x, collapse = ", ")
#> [1] "why, video, cross, extra, deal, authority"
str_sub(x, 1, 2)
#> [1] "wh" "vi" "cr" "ex" "de" "au"

[1] 3 5 5 5 4 9

[1] "why, video, cross, extra, deal, authority"

[1] "wh" "vi" "cr" "ex" "de" "au"

In [15]:
str_subset(x, "[aeiou]")
#> [1] "video"     "cross"     "extra"     "deal"      "authority"
str_count(x, "[aeiou]")
#> [1] 0 3 1 2 2 4

[1] "video"     "cross"     "extra"     "deal"      "authority"

[1] 0 3 1 2 2 4

In [16]:
str_detect(x, "[aeiou]")

[1] FALSE  TRUE  TRUE  TRUE  TRUE  TRUE

In [17]:
str_count(x, "[aeiou]")

[1] 0 3 1 2 2 4

In [18]:
str_subset(x, "[aeiou]")

[1] "video"     "cross"     "extra"     "deal"      "authority"

In [19]:
str_locate(x, "[aeiou]")

     start end
[1,] NA    NA
[2,]  2     2
[3,]  3     3
[4,]  1     1
[5,]  2     2
[6,]  1     1

In [20]:
str_extract(x, "[aeiou]")

[1] NA  "i" "o" "e" "e" "a"

In [21]:
str_match(x, "(.)[aeiou](.)")

     [,1] [,2] [,3]
[1,] NA   NA   NA
[2,] vid  v    d
[3,] ros  r    s
[4,] NA   NA   NA
[5,] dea  d    a
[6,] aut  a    t

In [22]:
str_replace(x, "[aeiou]", "?")

[1] "why"       "v?deo"     "cr?ss"     "?xtra"     "d?al"      "?uthority"

In [23]:
str_split(c("a,b", "c,d,e"), ",")

[[1]]
[1] "a" "b"

[[2]]
[1] "c" "d" "e"